<div class="home-main">
    
    <div class="center-container">
        <img id="logo-home" src="/static/img/logofinalwhite.png" />
    </div>
    <div>
        <h3 id="logo-caption">
            Report preventable medical errors and close calls before they have a chance to take a life.
        </h3>
    </div>
    
    <div class="row">
        <div class="home-button-cont">
            <a class="waves-effect waves-light btn-large red" id="report-home" ng-click="scrollTo('report')">Tell us what happened</a>
        </div>
    </div>
    
</div>

<!--div class="container">
  <div class="center-container">
        <h4>Report Feed</h4>
  </div>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="post in posts">
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{cfl(post.emotion)}} experience at {{post.hospital}}<span class="right">{{post.date}}</span></div>
      <div class="collapsible-body"><p>{{post.content}}</p></div>
    </li>
  </ul>
</div-->

<div class="container">
    
    <div class="row">
        <div class="col s12 m2 airplane-cont">
            <img class="airplane" src="/static/img/airplane.png" />
        </div>
        <div class="col s12 m10 airplane-text-cont">
            <p class="airplane-text">NearMissHealth seeks to borrow from the success of aviation safety by providing patients, family members, and caregivers a place to anonymously report errors and almost-error ("near misses") that lead to medical tragedies.</p>
        </div>
    </div>
    
    <div class="row">
      <div class="col s12">
          <blockquote >... If my primary care doctor had referred me to an ear-nose-throat (ENT) specialist instead of brushing my condition off as just another pregnancy-related issue that would resolve on its own, I would have been treated for Sudden Onset Hearing Loss in the critical 24-hr window and may have regained my hearing. But by the time I realized I should have seen an ENT doctor, it was too late, and now I have permanent hearing loss in one ear. <br /><b class="right">- Patient in North Carolina</b></blockquote>
      </div>
    </div>
    
<div class="row center-container" id="report">
    <h1 id="report-title">Tell Us What Happened</h1>
    <h3 id="report-caption" class="light">Do you have a preventable medical mistake experience that you would like to share? Please type it below. Your submission will be completely anonymous.</h3>
</div>
<div class="row">
    <form class="col s12">
      <div class="row card-panel">
        <div class="input-field col m12 s12 red-accent">
          <textarea id="content" class="materialize-textarea story-field" ng-model="content"></textarea>
          <label for="content">Tell us about your healthcare experience here</label>
        </div>
      </div>
    </form>
</div>
<div class="row">
    <div class="input-field col s12 m5">
        <p>What was the nature of your healthcare encounter?</p>
        <p>
          <input name="type" type="radio" id="website" ng-model="websiteReset"/>
          <label for="website">Website</label>
        </p>
        <p>
          <input name="type" type="radio" id="telephone" />
          <label for="telephone">Telephone</label>
        </p>
        <p>
          <input name="type" type="radio" id="out" />
          <label for="out">Out-patient</label>
        </p>
        <p>
          <input name="type" type="radio" id="in" />
          <label for="in">In-patient</label>
        </p>
        <p>
          <input name="type" type="radio" id="other" />
          <label for="other">Other</label>
        </p>
        <br />
    <br />
    </div>
    <div class="input-field col m7 s12">
          <input id="hospital" type="text" class="" ng-model="hospital">
          <label for="hospital">Name of hospital or clinic</label>
        <p>
          <input type="checkbox" id="permission" class="filled-in" ng-model="permission"/>
          <label for="permission">It's ok to post my story or portions of my story anonymously on this website.</label>
        </p>
            <br />
    <br />
    </div>
</div>
<div class="row">
    <div class="form-buttons">
      <button class="btn waves-effect waves-light red" ng-click="clear()">Clear
      </button>
      <button class="btn waves-effect waves-light red right" ng-click="submit()">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
</div>
<div class="row">
    <p class="center" ng-show="showConfirm">Your experience has been submitted!</p>
</div>
</div>