.home-main {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../img/hospital-blur-dark.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent !important;
}

.center-container {
    width: 100%;
    text-align: center;
}

#page-wrapper {
    
}

#logo-home {
    margin-top: 0px;
    padding-top: 64px;
    max-width: 500px;
    width: 80%;
    text-align: center;
}

#nav-logo {
    height: 70px;
}

.content-logo {
    font-size: 100px !important;
}

.logo-caption {
    font-size: 18px;
}

#logo-caption {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 24px;
    color: #ffffff;
}

.home-button-cont {
    width: 100%;
    text-align: center;
    margin-bottom: 64px;
    padding-top: 16px;
}

#report-home {
    
}

#report-title {
    font-size: 48px;
}

#report-caption {
    font-size: 24px;
}

.form-buttons {
    width: 100%;
    margin-bottom: 16px;
    /*text-align: right;*/
}

.airplane {
    width: 122px;
    margin: auto auto;
}

.airplane-cont {
    text-align: center;
}

.airplane-text {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
}

.airplane-text-cont {
    height: 122px;
}

.story-field {
    height: 200px !important;
}

.profile-image {
    border-radius: 50%;
    width: 174px;
    height: 174px;
    margin-top: 16px;
}

.profile-text {
    text-align: left;
}

.about-header {
    padding-top: 32px;
}

.sub-caption {
    text-align: center;
    max-width: 700px;
    margin: auto auto;
    padding-bottom: 32px;
    margin-top: 32px;
}